.venv
sourceandrenderingpipeline
OMOP_vocabulary_v5
.DS_Store
test.txt
ADNI
*.log
ADNI_metadata
image_series_metadata.pkl
patient_demo_staging.pkl
procedure_occurrence_staging.pkl
image_occurrence_staging.pkl
DXSUM_PDXCONV_27Apr2024.csv
MMSE_27Apr2024.csv
NPI_10Apr2024.csv
NPIQ_27Apr2024.csv
PTDEMOG_28Mar2024.csv
omop_cdm_mi_ext_draft.ipynb
omop_cdm_mi_ext.ipynb
dicom_to_omop_tables.ipynb
dicom_to_omop.ipynb
registry_idmap.csv
series_study_df.csv
obs_period.csv
openmap_colnames.csv
DXSUM_diagnosis.csv
rest_of_dicom_series_07232024.csv
rest_of_series_07252024.csv
data_for_GS.csv
dx_for_omop.csv
cohort1_volumes_0726.csv
cohort1_testseries_openmapt1_results.csv
brain_vol_06262024.csv
add_brain_vol.csv
add_brain_vol.pkl
adni_brain_vol.pkl
adni_export.csv
adni_brain_vol.csv
inspect_dicom_terminology.ipynb
OpenMAP
Others
image_occurrence_staging_v2.pkl
scratch_codes.ipynb
image_occurrence_staging_v3.pkl
scratch.ipynb
adding_omop_relationship.ipynb